.app {
    max-width: 100%;
    width: 30%;
    height: 65%;
    padding: 0;
    background: url("../resources/windows_95_app.jpg");
    position: fixed;
    left: 35%;
    top: 13%;
    background-size: cover;
    background-repeat: no-repeat;
}

Input{
    width: 25%;
    position: fixed;
    height: 4%;
    top: 20%;
    margin-left: 2.5%;
    box-shadow: inset 0px 0px 2px;
    padding: 3px;
    outline: none;
}
ul{
    position: fixed;
    top: 27%;
    width: 25%;
    height: 40%;
    overflow-x: hidden;
    overflow-y: scroll;
    background-color: white;
    box-shadow: inset 0px 0px 7px;
}
::-webkit-scrollbar {
    display: none;
}
