* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: no-repeat url("../resources/windows_95.jpg") silver;
  background-size: cover;
  overflow: hidden;
}
